body{
    margin: 0;
}
/*Message Bar*/
#message{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #F9D2D4;
    color: black;
}

/*Navigation Bar*/
#nav{
    display: flex;
    justify-content: center;
    background-color: #FF5757;
    font-size: x-large;
}
#navLeft, #navRight{
    display: flex;
    align-items: center;

}
#navLeft{
    justify-content: space-around;
}
#navRight{
    margin-left: auto;
    padding-right: 40px;
}
#logo{

}
#search{
    margin-right: 2vh;
    border: grey solid 1px;
    border-radius: 4vh;
    height: 5vh;
    width: 50vh;
    border: none;
}
.navItem{
    margin-left: 20px;
}

/*Nav Links*/
#nav a:link,#nav a:visited{
    color: black;
    text-decoration: none;
}
/*Spacer*/
.spacer{
    height: 3px;
    background-color: #FF5757;
}

/*Article*/
#article{
    min-height: 30vw;
    background-color: white;
}
.articleLeft, .articleRight{
    min-height: 20vw;
    width: 20vw;
    margin-top: 5vw;
    background-color: lightgray;
}
.articleLeft{
    float: left;
    margin-left: 28vw;
}
.articleRight{
    float: right;
    margin-right: 28vw;
}
